 /* Index Page */
#WelcomePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 1380px;
}
#wpwt {
	text-align: center;
}
/* Index Page End*/

/* Welcome Page */
/*Navigation Bar*/
.navigationBar {
float: left;
width:100%;
list-style-type: none;
position: absolute;
display: inline-block;
text-align: center;
margin-left:-100px;
margin-right:auto;
	}
/*Navigation Bar*/
.NaviRow {
	position:relative;
	display:inline-block;
}
.NaviButton{
	background-color:#D13040;
	font-family:Abhaya Libre;
	font-size:1.1em;
	border:none;
	padding: 10px 24px;
	color: #E7EFDB;
	min-width:25%;
	height:46px;
	border-radius: 3px;
}
/* Welcome Page ends */

