#WelcomePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 1380px;
}
#wpwt {
	text-align: center;
}
.navigationBar {
float: left;
width:100%;
list-style-type: none;
position: absolute;
display: block;
text-align: center;
margin-left:-50px;
margin-right:auto;
	}
/* First Navigation Bar Dropdown */
.GallerieButton {
	background-color:#D13040;
	font-family:Abhaya Libre;
	border:none;
	padding: 10px 24px;
	color: #E7EFDB;
	min-width:160px;
	height:66px;
}
.dropdown1 {
	position:relative;
	display:inline-block;
}	
.GallerieDropdown{
	display:none;
	position: absolute;
	background-color:#FFFF68;
	padding:10%;
}
.dropdown1:hover .GallerieDropdown{
	
	display:block;
}
/* End */
/*Second Navigation Bar Dropdown */
.HistorieButton{
	
background-color:#D13040;
	font-family:Abhaya Libre;
	border:none;
	padding: 10px 24px;
	color: #E7EFDB;
	min-width:160px;

}
.dropdown2{
	position:relative;
	display:inline-block;
}
.HistorieDropdown{
	display:none;
	position:absolute;
	background-color:#FFFF68;
	padding:10%;
	min-width:100px;
	
}
.dropdown2:hover .HistorieDropdown{
	display:block;
}
/* End */
/* Third Navigation Bar Dropdown */
.ImpressumButton {
	background-color:#D13040;
	font-family:Abhaya Libre;
	border:none;
	padding: 10px 24px;
	color: #E7EFDB;
	width:160px;
}
.dropdown3{
	position:relative;
	display:inline-block;
}
.ImpressumDropdown{
	display:none;
	position:absolute;
	background-color:#FFFF68;
	padding:10%;
	min-width:100px;
}
.dropdown3:hover .ImpressumDropdown{
		display:block;
}